@import "~@govbr-ds/core/src/partial/scss/_base.scss";
@import "~@govbr-ds/core/src/partial/scss/_tokens.scss";

@import '~@govbr-ds/core/src/partial/scss/utilities/_display.scss';
@import '~@govbr-ds/core/src/partial/scss/utilities/_normalize.scss';
@import '~@govbr-ds/core/src/partial/scss/utilities/_states.scss';
@import '~@govbr-ds/core/src/partial/scss/utilities/_icons.scss';
@import '~@govbr-ds/core/src/partial/scss/utilities/_motion.scss';
@import '~@govbr-ds/core/src/partial/scss/utilities/_dropdown.scss';


@import '~@govbr-ds/core/src/components/breadcrumb/_breadcrumb.scss';
@import '~@govbr-ds/core/src/components/breadcrumb/_mixins.scss';

@import '~@govbr-ds/core/src/components/button/_button.scss';
@import '~@govbr-ds/core/src/components/button/_mixins.scss';

@import '~@govbr-ds/core/src/components/loading/_loading.scss';
@import '~@govbr-ds/core/src/components/loading/_mixins.scss';

@import '~@govbr-ds/core/src/components/card/_card.scss';
@import '~@govbr-ds/core/src/components/card/_mixins.scss';

@import '~@govbr-ds/core/src/components/checkbox/_checkbox.scss';
@import '~@govbr-ds/core/src/components/checkbox/_mixins.scss';

@import '~@govbr-ds/core/src/components/divider/_divider.scss';
@import '~@govbr-ds/core/src/components/divider/_mixins.scss';

@import '~@govbr-ds/core/src/components/message/_message.scss';
@import '~@govbr-ds/core/src/components/message/_mixins.scss';

@import '~@govbr-ds/core/src/components/header/_header.scss';
@import '~@govbr-ds/core/src/components/header/_mixins.scss';

@import '~@govbr-ds/core/src/components/input/_input.scss';
@import '~@govbr-ds/core/src/components/input/_mixins.scss';

@import '~@govbr-ds/core/src/components/item/_item.scss';
@import '~@govbr-ds/core/src/components/item/_mixins.scss';

@import '~@govbr-ds/core/src/components/list/_list.scss';
@import '~@govbr-ds/core/src/components/list/_mixins.scss';

@import '~@govbr-ds/core/src/components/menu/_menu.scss';
@import '~@govbr-ds/core/src/components/menu/_mixins.scss';

@import '~@govbr-ds/core/src/components/modal/_modal.scss';
@import '~@govbr-ds/core/src/components/modal/_mixins.scss';

@import '~@govbr-ds/core/src/components/scrim/_scrim.scss';
@import '~@govbr-ds/core/src/components/scrim/_mixins.scss';

@import '~@govbr-ds/core/src/components/select/_select.scss';
@import '~@govbr-ds/core/src/components/select/_mixins.scss';

@import '~@govbr-ds/core/src/components/signin/_signin.scss';
@import '~@govbr-ds/core/src/components/signin/_mixins.scss';

@import '~@govbr-ds/core/src/components/radio/_radio.scss';
@import '~@govbr-ds/core/src/components/radio/_mixins.scss';

@import '~@govbr-ds/core/src/components/textarea/_textarea.scss';
@import '~@govbr-ds/core/src/components/textarea/_mixins.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

a {
    --focus-offset: var(--spacing-scale-half);
    color: var(--interactive);
    text-decoration: none;
}
a:focus {
    outline: none;
}
a.focus-visible,
a:focus-visible {
    outline-color: var(--focus);
    outline-offset: var(--focus-offset);
    outline-style: var(--focus-style);
    outline-width: var(--focus-width);
}
a:not(:disabled):hover {
    background-image: linear-gradient(
        rgba(var(--interactive-rgb), var(--hover)),
        rgba(var(--interactive-rgb), var(--hover))
    );
}
a:not(:disabled):active {
    background-image: linear-gradient(
        rgba(var(--interactive-rgb), var(--pressed)),
        rgba(var(--interactive-rgb), var(--pressed))
    );
}
