a {
    --focus-offset: var(--spacing-scale-half);
    color: var(--interactive);
    text-decoration: none;
}
a:focus {
    outline: none;
}
a.focus-visible,
a:focus-visible {
    outline-color: var(--focus);
    outline-offset: var(--focus-offset);
    outline-style: var(--focus-style);
    outline-width: var(--focus-width);
}
a:not(:disabled):hover {
    background-image: linear-gradient(
        rgba(var(--interactive-rgb), var(--hover)),
        rgba(var(--interactive-rgb), var(--hover))
    );
}
a:not(:disabled):active {
    background-image: linear-gradient(
        rgba(var(--interactive-rgb), var(--pressed)),
        rgba(var(--interactive-rgb), var(--pressed))
    );
}

[hidden] {
    display: none;
}

.d-none {
    display: none !important;
}

.d-block {
    display: block !important;
}

.d-flex {
    display: flex !important;
}

.d-inline {
    display: inline !important;
}

.d-inline-block {
    display: inline-block !important;
}

.d-inline-flex {
    display: inline-flex !important;
}


[disabled],
.disabled {
  cursor: not-allowed;
  opacity: var(--disabled);
}

.svg-inline--fa,
.fa,
.fab,
.fad,
.fal,
.far,
.fas {
  --icon-size: var(--icon-size-base);
  display: inline-block;
  font-size: var(--icon-size);
  text-align: center;
  width: calc(var(--icon-size) + 8px);
}
